<div *ngFor="let sessionArray of this.sessionSchedule.keys()">
  <mat-expansion-panel [expanded]="true" hideToggle class="myExpansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ getDayName(sessionArray) }} </mat-panel-title>
      <mat-panel-description>
        This are the classes for the day!!!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-admin-preliminary-card
      *ngFor="let session of this.sessionSchedule.get(sessionArray)"
      [session]="this.session"
      [instructor]="this.session.instructor"
      [sessionService]="this.session.sessionService"
    ></app-admin-preliminary-card>
  </mat-expansion-panel>
</div>
