<h2 mat-dialog-title><mat-card-title>Define Schedule</mat-card-title></h2>
<mat-dialog-content>
  <mat-card class="home-card example-card">
    <mat-card-content class="home-card-content">
      <mat-card-subtitle>Room Form</mat-card-subtitle>
      <mat-tab-group>
        <!-- Login Tab -->
        <mat-tab label="Session">
          <form [formGroup]="roomForm">
            <!-- Day Field -->
            <div class="button-container">
              <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Day of the Week</mat-label>
                <mat-select formControlName="weekDay" required>
                  <mat-option>--</mat-option>
                  <div *ngFor="let dayNumber of daysNumber">
                    <mat-option [value]="dayNumber">
                      {{ this.DaysEnum[dayNumber] }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Opening Hour -->
            <mat-form-field class="example-full-width">
              <mat-label>Opening Hour</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="openingHour"
              />
            </mat-form-field>

            <!-- Opening Minute  -->
            <mat-form-field class="example-full-width">
              <mat-label>Opening Minute</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="openingMin"
              />
            </mat-form-field>

            <!-- Duration Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Closing Hour</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="closingHour"
              />
            </mat-form-field>

            <!-- Closing Hour -->
            <mat-form-field class="example-full-width">
              <mat-label>Closing Minutes</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="closingMin"
              />
            </mat-form-field>

            <!-- Room Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Room</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="roomNumber"
              />
            </mat-form-field>

            <button
              mat-raised-button
              style="width: 100%; margin-top: 0.5rem"
              color="primary"
              (click)="onSave()"
              [disabled]="this.roomForm.invalid"
            >
              Save
            </button>
            <button
              mat-raised-button
              mat-dialog-close
              style="width: 100%; margin-top: 0.5rem"
              color="primary"
            >
              Close
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
