<h2 mat-dialog-title><mat-card-title>Register Service</mat-card-title></h2>
<mat-dialog-content>
  <mat-card class="home-card example-card">
    <mat-card-content class="home-card-content">
      <mat-card-subtitle>Service Form</mat-card-subtitle>
      <mat-tab-group>
        <mat-tab label="Service">
          <form [formGroup]="serviceForm">
            <!-- Instructor Name Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Service Name</mat-label>
              <input matInput #message formControlName="name" />
            </mat-form-field>
            <br />
            <!-- Identification Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Max Spaces</mat-label>
              <input matInput #message formControlName="maxSpaces" />
            </mat-form-field>
            <br />
            <!-- Email Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Cost</mat-label>
              <input matInput #message formControlName="cost" />
            </mat-form-field>

            <button
              mat-raised-button
              mat-dialog-close
              style="width: 100%; margin-top: 0.5rem"
              color="primary"
              (click)="onSave()"
              [disabled]="this.serviceForm.invalid"
            >
              Save
            </button>
            <button
              mat-raised-button
              mat-dialog-close
              style="width: 100%; margin-top: 0.5rem"
              color="primary"
            >
              Close
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
