<div *ngIf="this.instructor.length != 0">
  <app-instructor-table
    [instructor]="this.instructor"
    [columnContent]="this.columnContent"
    (instructorDeleted)="onDelete($event)"
    (instructorDetails)="onDetails($event)"
  ></app-instructor-table>
</div>

<h2 class="element">
  <div class="flex-container">
    <div class="elem">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        class="button-create"
        (click)="openDialogue()"
      >
        <mat-icon>create</mat-icon>
      </button>
    </div>
  </div>
</h2>
