<h2 mat-dialog-title><mat-card-title>Create Session</mat-card-title></h2>
<mat-dialog-content>
  <mat-card class="home-card example-card">
    <mat-card-content class="home-card-content">
      <mat-card-subtitle>Session Form</mat-card-subtitle>
      <mat-tab-group>
        <!-- Login Tab -->
        <mat-tab label="Session">
          <form [formGroup]="preliminaryForm">
            <!-- Class Name Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Class Name</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="className"
              />
            </mat-form-field>

            <!-- Day Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Day of the Week</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="day"
              />
            </mat-form-field>

            <!-- Time Field -->
            <mat-form-field class="example-half-width">
              <mat-label>Starting Hour</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="hour"
              />
            </mat-form-field>

            <!-- Time Field -->
            <mat-form-field class="example-half-width">
              <mat-label>Starting Minutes</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="min"
              />
            </mat-form-field>

            <!-- Duration Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Duration</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="duration"
              />
            </mat-form-field>

            <!-- Year Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Year</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="year"
              />
            </mat-form-field>

            <!-- Month Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Month</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="month"
              />
            </mat-form-field>

            <!-- Instructor Id Field -->
            <!-- <mat-form-field class="example-full-width">
              <mat-label>Instructor</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="instructorId"
              />
            </mat-form-field> -->
            <h4>mat select</h4>
            <mat-form-field appearance="fill">
              <mat-label>Designated Instructor</mat-label>
              <mat-select formControlName="instructor" required>
                <mat-option>--</mat-option>
                <mat-option
                  *ngFor="let instructor of this.instructorArray"
                  [value]="instructor.id"
                >
                  {{ instructor.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Session Service Id Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Service Type</mat-label>
              <input
                matInput
                value="Valor de prueba"
                #message
                formControlName="sessionServiceName"
              />
            </mat-form-field>

            <!-- <button
              mat-raised-button
              mat-dialog-close
              style="width: 100%; margin-top: 0.5rem"
              color="primary"
              (click)="onSave()"
              [disabled]="this.preliminaryForm.invalid"
            >
              Save
            </button> -->
            <button
              mat-raised-button
              mat-dialog-close
              style="width: 100%; margin-top: 0.5rem"
              color="primary"
              (click)="onSave()"
            >
              Save
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
