/*
   Thursday, April 22, 20216:29:53 PM
   User: jorgeguty
   Server: carrera.database.windows.net
   Database: PlusGymProject
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.DiaSemana
	(
	Id int NOT NULL IDENTITY (1, 1),
	Nombre nvarchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.DiaSemana ADD CONSTRAINT
	PK_DiaSemana PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DiaSemana SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Sala
	(
	Id int NOT NULL IDENTITY (1, 1),
	NumeroSala int NOT NULL,
	AforoMaximo int NOT NULL,
	CostoMatricula decimal(18, 0) NOT NULL,
	Nombre nvarchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Sala ADD CONSTRAINT
	PK_Sala PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Sala SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.HorarioDeSala
	(
	Id int NOT NULL IDENTITY (1, 1),
	SalaId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.HorarioDeSala ADD CONSTRAINT
	PK_HorarioDeSala PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.HorarioDeSala ADD CONSTRAINT
	FK_HorarioDeSala_Sala FOREIGN KEY
	(
	SalaId
	) REFERENCES dbo.Sala
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.HorarioDeSala SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.DiaDeAtencion
	(
	Id int NOT NULL IDENTITY (1, 1),
	DiaSemanaId int NOT NULL,
	HoraApertura int NOT NULL,
	HoraCierre int NOT NULL,
	HorarioId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.DiaDeAtencion ADD CONSTRAINT
	PK_DiaDeAtencion PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.DiaDeAtencion ADD CONSTRAINT
	FK_DiaDeAtencion_HorarioDeSala FOREIGN KEY
	(
	HorarioId
	) REFERENCES dbo.HorarioDeSala
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.DiaDeAtencion ADD CONSTRAINT
	FK_DiaDeAtencion_DiaSemana FOREIGN KEY
	(
	DiaSemanaId
	) REFERENCES dbo.DiaSemana
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.DiaDeAtencion SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TipoInstructor
	(
	Id int NOT NULL IDENTITY (1, 1),
	Nombre nvarchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TipoInstructor ADD CONSTRAINT
	PK_TipoInstructor PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TipoInstructor SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Instructor
	(
	Id int NOT NULL IDENTITY (1, 1),
	Nombre nvarchar(50) NOT NULL,
	Cedula nvarchar(50) NOT NULL,
	Correo nvarchar(50) NOT NULL,
	Tipo int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Instructor ADD CONSTRAINT
	PK_Instructor PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Instructor ADD CONSTRAINT
	FK_Instructor_TipoInstructor FOREIGN KEY
	(
	Tipo
	) REFERENCES dbo.TipoInstructor
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Instructor SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Especialidades
	(
	Id int NOT NULL IDENTITY (1, 1),
	Nombre nvarchar(50) NOT NULL,
	Aforo int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Especialidades ADD CONSTRAINT
	PK_Especialidades PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Especialidades SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.EspecialidadesDeInstructores
	(
	Id int NOT NULL IDENTITY (1, 1),
	InstructorId int NOT NULL,
	EspecialidadId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.EspecialidadesDeInstructores ADD CONSTRAINT
	PK_EspecialidadesDeInstructores PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.EspecialidadesDeInstructores ADD CONSTRAINT
	FK_EspecialidadesDeInstructores_Especialidades FOREIGN KEY
	(
	EspecialidadId
	) REFERENCES dbo.Especialidades
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.EspecialidadesDeInstructores ADD CONSTRAINT
	FK_EspecialidadesDeInstructores_Instructor FOREIGN KEY
	(
	InstructorId
	) REFERENCES dbo.Instructor
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.EspecialidadesDeInstructores SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Sesion
	(
	Id int NOT NULL IDENTITY (1, 1),
	Nombre nvarchar(50) NOT NULL,
	Fecha datetime NOT NULL,
	DuracionMinutos int NOT NULL,
	Cupos int NOT NULL,
	Costo decimal(19, 4) NOT NULL,
	Estado bit NOT NULL,
	InstructorId int NOT NULL,
	EspecialidadId int NOT NULL,
	SalaId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Sesion ADD CONSTRAINT
	PK_Sesion PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Sesion ADD CONSTRAINT
	FK_Sesion_Especialidades FOREIGN KEY
	(
	EspecialidadId
	) REFERENCES dbo.Especialidades
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Sesion ADD CONSTRAINT
	FK_Sesion_Sala FOREIGN KEY
	(
	SalaId
	) REFERENCES dbo.Sala
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Sesion SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.FormasDePago
	(
	Id int NOT NULL IDENTITY (1, 1),
	Nombre nvarchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.FormasDePago ADD CONSTRAINT
	PK_FormasDePago PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.FormasDePago SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TipoMovimiento
	(
	Id int NOT NULL IDENTITY (1, 1),
	Nombre nvarchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TipoMovimiento ADD CONSTRAINT
	PK_TipoMovimiento PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TipoMovimiento SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Cliente
	(
	Id int NOT NULL IDENTITY (1, 1),
	Cedula nvarchar(50) NOT NULL,
	Nombre nvarchar(50) NOT NULL,
	Correo nvarchar(50) NOT NULL,
	Celular nvarchar(50) NOT NULL,
	Saldo decimal(19, 4) NOT NULL,
	Estado bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Cliente ADD CONSTRAINT
	PK_Cliente PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Cliente SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Movimientos
	(
	Id int NOT NULL IDENTITY (1, 1),
	Monto decimal(19, 4) NOT NULL,
	Fecha datetime NOT NULL,
	ClienteId int NOT NULL,
	TipoMovimiento int NOT NULL,
	Asunto nvarchar(100) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Movimientos ADD CONSTRAINT
	PK_Movimientos PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Movimientos ADD CONSTRAINT
	FK_Movimientos_TipoMovimiento FOREIGN KEY
	(
	TipoMovimiento
	) REFERENCES dbo.TipoMovimiento
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Movimientos ADD CONSTRAINT
	FK_Movimientos_Cliente FOREIGN KEY
	(
	ClienteId
	) REFERENCES dbo.Cliente
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Movimientos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Credito
	(
	Id int NOT NULL IDENTITY (1, 1),
	FormaDePagoId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Credito ADD CONSTRAINT
	PK_Credito PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Credito ADD CONSTRAINT
	FK_Credito_FormasDePago FOREIGN KEY
	(
	FormaDePagoId
	) REFERENCES dbo.FormasDePago
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Credito ADD CONSTRAINT
	FK_Credito_Movimientos FOREIGN KEY
	(
	Id
	) REFERENCES dbo.Movimientos
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Credito SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Reserva
	(
	Id int NOT NULL IDENTITY (1, 1),
	FechaReserva datetime NOT NULL,
	Estado bit NOT NULL,
	ClienteId int NOT NULL,
	SesionId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Reserva ADD CONSTRAINT
	PK_Reserva PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Reserva ADD CONSTRAINT
	FK_Reserva_Cliente FOREIGN KEY
	(
	ClienteId
	) REFERENCES dbo.Cliente
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Reserva ADD CONSTRAINT
	FK_Reserva_Sesion FOREIGN KEY
	(
	SesionId
	) REFERENCES dbo.Sesion
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Reserva SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TipoUsuario
	(
	Id int NOT NULL IDENTITY (1, 1),
	Nombre nvarchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TipoUsuario ADD CONSTRAINT
	PK_TipoUsuario PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TipoUsuario SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Usuario
	(
	Id int NOT NULL IDENTITY (1, 1),
	Username nvarchar(50) NOT NULL,
	Password nvarchar(50) NOT NULL,
	TipoUsuario int NOT NULL,
	Estado bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Usuario ADD CONSTRAINT
	PK_Usuario PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Usuario ADD CONSTRAINT
	FK_Usuario_TipoUsuario FOREIGN KEY
	(
	TipoUsuario
	) REFERENCES dbo.TipoUsuario
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Usuario SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.UsuarioAdmin
	(
	Id int NOT NULL IDENTITY (1, 1),
	Nombre int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.UsuarioAdmin ADD CONSTRAINT
	PK_UsuarioAdmin PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.UsuarioAdmin ADD CONSTRAINT
	FK_UsuarioAdmin_Usuario FOREIGN KEY
	(
	Id
	) REFERENCES dbo.Usuario
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.UsuarioAdmin SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.UsuarioCliente
	(
	Id int NOT NULL IDENTITY (1, 1),
	ClientId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.UsuarioCliente ADD CONSTRAINT
	PK_UsuarioCliente PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.UsuarioCliente ADD CONSTRAINT
	FK_UsuarioCliente_Usuario FOREIGN KEY
	(
	Id
	) REFERENCES dbo.Usuario
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.UsuarioCliente ADD CONSTRAINT
	FK_UsuarioCliente_Cliente FOREIGN KEY
	(
	ClientId
	) REFERENCES dbo.Cliente
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.UsuarioCliente SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
