<!-- nuevo -->
<div *ngFor="let sessionArray of this.scheduleMapUnchecked.values()">
  <mat-expansion-panel [expanded]="true" hideToggle class="myExpansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ sessionArray[0].date }} </mat-panel-title>
      <mat-panel-description>
        This are the classes for the day!!!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-admin-card-unchecked
      *ngFor="let session of sessionArray"
      [session]="this.session"
      [instructor]="this.session.instructor"
      [sessionService]="this.session.sessionService"
      (update)="onUpdate()"
    ></app-admin-card-unchecked>
  </mat-expansion-panel>
</div>

<div *ngFor="let sessionArray of this.scheduleMap.values()">
  <mat-expansion-panel [expanded]="true" hideToggle class="myExpansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ sessionArray[0].date }} </mat-panel-title>
      <mat-panel-description>
        This are the classes for the day!!!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-admin-card
      *ngFor="let session of sessionArray"
      [session]="this.session"
      [instructor]="this.session.instructor"
      [sessionService]="this.session.sessionService"
    ></app-admin-card>
  </mat-expansion-panel>
</div>
