table {
  width: 100%;
}
.myButton {
  padding-top: 2px;
  padding-bottom: 2px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

.element {
  opacity: 0.85;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.button-create {
  position: fixed;
  background-color: #1b1c1f;
  width: 4rem;
  height: 4rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.elem {
  width: 4rem;
  height: 4rem;
  margin-right: 3rem;
  margin-bottom: 0.5rem;
}
