table {
  width: 100%;
}
.myButton {
  padding-top: 2px;
  padding-bottom: 2px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
