<div class="container">
  <mat-card class="home-card example-card">
    <mat-card-header> </mat-card-header>

    <mat-card-content class="home-card-content">
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-title>Login/Register</mat-card-title>
      <mat-card-subtitle>+GYM Account</mat-card-subtitle>
      <mat-tab-group>
        <!-- Login Tab -->
        <mat-tab label="Login">
          <!-- Email Field -->
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Email"
              [(ngModel)]="log_username"
            />
          </mat-form-field>

          <!-- Password Field -->
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              [(ngModel)]="log_password"
            />
          </mat-form-field>

          <button
            mat-raised-button
            style="width: 100%; margin-top: 0.5rem"
            color="primary"
            (click)="onLogin()"
          >
            Login
          </button>
        </mat-tab>

        <!-- Register Tab -->
        <mat-tab label="Register">
          <!-- Username Field -->
          <mat-form-field class="example-full-width">
            <mat-label>Create Username</mat-label>
            <input
              matInput
              type="email"
              placeholder="Email"
              [(ngModel)]="reg_username"
            />
          </mat-form-field>

          <!-- Password Field -->
          <mat-form-field class="example-full-width">
            <mat-label>Create Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              [(ngModel)]="reg_password"
            />
          </mat-form-field>

          <!-- Password Confirmation Field -->
          <mat-form-field class="example-full-width">
            <mat-label>Membership Id</mat-label>
            <input matInput [(ngModel)]="reg_membership" />
          </mat-form-field>

          <button
            mat-raised-button
            style="width: 100%; margin-top: 0.5rem"
            color="primary"
            (click)="onRegister()"
          >
            Register
          </button>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
