<div style="display: flex; flex-direction: column">
  <div style="display: flex; flex-direction: row; align-items: flex-end">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        autocomplete="off"
        matInput
        placeholder="Ex. ium"
        #input
        [(ngModel)]="filterTerm"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 25%; margin-left: 2rem">
      <mat-label>Filters</mat-label>
      <mat-select [(ngModel)]="filtersNumber" required>
        <mat-option>--</mat-option>
        <div *ngFor="let filterNumber of this.filterNumber">
          <mat-option [value]="filterNumber">
            {{ this.Filters[filterNumber] }}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </div>

  <button (click)="filterSessions()" mat-raised-button color="primary">
    Filter
  </button>
</div>

<app-client-services
  style="display: flex; flex-direction: column"
  [scheduleMap]="this.scheduleMap"
  [scheduleMapReservations]="this.scheduleMapReservations"
>
</app-client-services>
