<h2 mat-dialog-title><mat-card-title>Register Client</mat-card-title></h2>
<mat-dialog-content>
  <mat-card class="home-card example-card">
    <mat-card-content class="home-card-content">
      <mat-card-subtitle>Client Form</mat-card-subtitle>
      <mat-tab-group>
        <mat-tab label="Client">
          <form [formGroup]="clientForm">
            <!-- Instructor Name Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Client Name</mat-label>
              <input matInput #message formControlName="name" />
            </mat-form-field>
            <!-- Identification Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Identification</mat-label>
              <input matInput #message formControlName="identification" />
            </mat-form-field>
            <!-- Email Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput #message formControlName="email" />
            </mat-form-field>
            <!-- Email Field -->
            <mat-form-field class="example-full-width">
              <mat-label>Phone</mat-label>
              <input matInput #message formControlName="phone" />
            </mat-form-field>

            <button
              mat-raised-button
              style="width: 100%; margin-top: 0.5rem"
              color="primary"
              (click)="onSave()"
              [disabled]="this.clientForm.invalid"
            >
              Save
            </button>
            <button
              mat-stroked-button
              mat-dialog-close
              style="width: 100%; margin-top: 0.5rem"
              color="primary"
            >
              Close
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
