<app-admin-preliminary-information-cards
  *ngIf="this.dateJSON != undefined"
  [sessionSchedule]="this.scheduleMap"
  [dateJSON]="this.dateJSON"
></app-admin-preliminary-information-cards>

<h2 class="element">
  <div class="flex-container">
    <div class="elem">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        class="button-create"
        (click)="openRoomForm()"
      >
        <mat-icon>group_add</mat-icon>
      </button>
    </div>
    <div class="elem">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        class="button-create"
        style="background-color: #1cc88a; color: #1b1c1f"
        (click)="confirmSchedule()"
      >
        <mat-icon>check</mat-icon>
      </button>
    </div>
    <div class="elem">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        class="button-create"
        style="background-color: #1cc88a; color: #1b1c1f"
        (click)="openDatePicker()"
      >
        <mat-icon>today</mat-icon>
      </button>
    </div>
    <div class="elem">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        class="button-create"
        (click)="openForm()"
      >
        <mat-icon>create</mat-icon>
      </button>
    </div>
  </div>
</h2>
