.element {
  opacity: 0.85;
  padding: 80px;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  bottom: 0;
  left: 1;
  right: 0;
}

.button-create {
  position: fixed;
  background-color: #1b1c1f;
  width: 4rem;
  height: 4rem;
}
