<div *ngIf="this.notifications.length != 0">
  <mat-form-field style="width: 100%">
    <mat-label>Filter</mat-label>
    <input
      style="width: 100%"
      autocomplete="off"
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
    />
  </mat-form-field>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="width: 100%"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="membership_id">
      <th mat-header-cell *matHeaderCellDef>MembershipNumber</th>
      <td mat-cell *matCellDef="let notification">
        {{ notification.membership_id }}
      </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="client_name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let notification">
        {{ notification.client_name }}
      </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="needed_stars">
      <th mat-header-cell *matHeaderCellDef>Stars Amount</th>
      <td mat-cell *matCellDef="let notification">
        {{ notification.needed_stars }}
      </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="prize_name">
      <th mat-header-cell *matHeaderCellDef>Prize</th>
      <td mat-cell *matCellDef="let notification">
        {{ notification.prize_name }}
      </td>
    </ng-container>

    <!-- User Display -->
    <!-- <ng-container matColumnDef="Actions" style="justify-content: end">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let notification">
        <button
          mat-raised-button
          mat-dialog-close
          class="myButton"
          style="background-color: #73d689; color: #2a2b31"
          (click)="notifyUser()"
        >
          Send
        </button>
      </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="columnContent"></tr>
    <tr mat-row *matRowDef="let row; columns: columnContent"></tr>
  </table>
</div>
