<div *ngFor="let sessionArray of this.scheduleMap.values()">
  <mat-expansion-panel [expanded]="true" hideToggle class="myExpansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ sessionArray[0].date }} </mat-panel-title>
      <mat-panel-description>
        This are the classes for the day!!!
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-client-card
      style="margin-left: -20px"
      *ngFor="let session of sessionArray"
      [session]="this.session"
      [instructor]="this.session.instructor"
      [sessionService]="this.session.sessionService"
      [isReserved]="this.isSessionReserved(this.session.id)"
    ></app-client-card>
  </mat-expansion-panel>
</div>
