<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <a [routerLink]="['/']" mat-button color="primary">Home</a>
    <a
      *ngIf="authService.loggedIn() && !this.isAdmin()"
      [routerLink]="['/client/clientDashboard']"
      mat-button
      color="primary"
      >My Dashboard</a
    >
    <a
      *ngIf="authService.loggedIn() && this.isAdmin()"
      [routerLink]="['/client/clientDashboard']"
      mat-button
      color="primary"
      >Admin Dashboard</a
    >
    <a
      *ngIf="authService.loggedIn() && !this.isAdmin()"
      [routerLink]="['/profile']"
      mat-button
      color="primary"
      >Profile</a
    >
    <a
      *ngIf="!authService.loggedIn()"
      [routerLink]="['/login']"
      mat-button
      color="primary"
      >Login</a
    >
    <a
      *ngIf="authService.loggedIn()"
      (click)="onLogout()"
      href="#"
      mat-button
      color="primary"
      >Logout</a
    >
  </mat-toolbar>
</p>
